@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --black: rgba(0, 0, 0, 0.9);
    --black-light: rgba(0, 0, 0, 0.6);
    --bg-color: #f7f7f7;
    --blue: #4200FF;
    --yelow: #FED712;
    --while: #fff;
}

* {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition:all .2s linear;
}
::selection {
    background-color: var(--while);
    color: var(--black);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

::-webkit-scrollbar {
    height: 1rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 5rem;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
